# ENVIRONMENT
NODE_ENV=
PORT=
HOST=

# DISCORD BOT CREDENTIALS 
BOT_TOKEN=
BOT_CLIENT_ID= 
BOT_CLIENT_SECRET= 

# DISCORD GUILD ID
DISCORD_GUILD_ID= 

# DISCORD CHANNELS 
# BOT COMMANDS CHANNEL
CHANNEL_BOT_COMMANDS_ID=
CHANNEL_REPORT_LOG=
CHANNEL_CIV6_COMMANDS_ID=
CHANNEL_CIV7_COMMANDS_ID=
CHANNEL_CLOUD_COMMANDS_ID=
# VOTE CHANNELS
CHANNEL_CIV6_FFA_VOTE_ID=
CHANNEL_CIV6_TEAMER_VOTE_ID=
CHANNEL_CIV7_FFA_VOTE_ID=
CHANNEL_CIV7_TEAMER_VOTE_ID=
# CIV REALTIME REPORTING CHANNELS 
CHANNEL_CIV6_REALTIME_UPLOADS_ID= 
CHANNEL_CIV6_REALTIME_REPORTING_HISTORY_ID= 
CHANNEL_CIV7_REALTIME_UPLOADS_ID= 
CHANNEL_CIV7_REALTIME_REPORTING_HISTORY_ID= 
# CIV PBC REPORTING CHANNELS 
CHANNEL_CIV6_CLOUD_UPLOADS_ID= 
CHANNEL_CIV6_CLOUD_REPORTING_HISTORY_ID= 
CHANNEL_CIV7_CLOUD_UPLOADS_ID= 
CHANNEL_CIV7_CLOUD_REPORTING_HISTORY_ID= 
# CIV6 LB CHANNELS 
CHANNEL_CIV6_REALTIME_FFA_LEADERBOARD_ID=
CHANNEL_CIV6_REALTIME_DUEL_LEADERBOARD_ID=
CHANNEL_CIV6_REALTIME_TEAMER_LEADERBOARD_ID=
CHANNEL_CIV6_REALTIME_SEASONAL_FFA_LEADERBOARD_ID=
CHANNEL_CIV6_REALTIME_SEASONAL_DUEL_LEADERBOARD_ID=
CHANNEL_CIV6_REALTIME_SEASONAL_TEAMER_LEADERBOARD_ID=
CHANNEL_CIV6_PBC_FFA_LEADERBOARD_ID=
CHANNEL_CIV6_PBC_DUEL_LEADERBOARD_ID=
CHANNEL_CIV6_PBC_TEAMER_LEADERBOARD_ID=
CHANNEL_CIV6_PBC_COMBINED_LEADERBOARD_ID=
# CIV7 LB CHANNELS 
CHANNEL_CIV7_REALTIME_FFA_LEADERBOARD_ID=
CHANNEL_CIV7_REALTIME_DUEL_LEADERBOARD_ID=
CHANNEL_CIV7_REALTIME_TEAMER_LEADERBOARD_ID=
CHANNEL_CIV7_REALTIME_SEASONAL_FFA_LEADERBOARD_ID=
CHANNEL_CIV7_REALTIME_SEASONAL_DUEL_LEADERBOARD_ID=
CHANNEL_CIV7_REALTIME_SEASONAL_TEAMER_LEADERBOARD_ID=
CHANNEL_CIV7_PBC_FFA_LEADERBOARD_ID=
CHANNEL_CIV7_PBC_DUEL_LEADERBOARD_ID=
CHANNEL_CIV7_PBC_TEAMER_LEADERBOARD_ID=
# ROLES
ROLE_DEVELOPER=
ROLE_ADMIN=
ROLE_MODERATOR=
ROLE_NOVICE_MANAGER=
ROLE_CIV6_RANKED=
ROLE_CIV7_RANKED=
ROLE_CLOUD=
ROLE_NOVICE=
# CUSTOM EMOJIS 
EMOJI_CIV6=
EMOJI_CIV7=
EMOJI_LIFETIME=
EMOJI_SEASONAL=
EMOJI_REPORT=
# RANK ROLES
ROLE_RANK_DEITY_3_STAR=
ROLE_RANK_DEITY_2_STAR=
ROLE_RANK_DEITY=
ROLE_RANK_IMMORTAL=
ROLE_RANK_EMPEROR=
ROLE_RANK_KING=
ROLE_RANK_PRINCE=
ROLE_RANK_WARLORD=
ROLE_RANK_CHIEFTAIN=
ROLE_RANK_SETTLER=
ROLE_RANK_BUILDER=
ROLE_RANK_SCOUT=

# BACKEND SERVICE 
BACKEND_SERVICE_URL=
# RATE LIMITING 
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=